node_modules
yarn-error.log
**/._.DS_Store
**/.DS_Store
._.DS_Store
.DS_Store
.env
.env.*
tsconfig.tsbuildinfo
.next
.turbo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
