node_modules
yarn-error.log
**/._.DS_Store
**/.DS_Store
._.DS_Store
.DS_Store
.env
.env.*
tsconfig.tsbuildinfo
.next
.turbo

frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions
